$main-bg-color: #FAFAFA;

$main-black: #000;

$brand-bg-color-1: #3993BF;
$brand-color-1: $brand-bg-color-1;

$brand-bg-color-2: #D95757;
$brand-color-2: $brand-bg-color-2;

$brand-bg-color-3: #FFF;
$brand-color-3: $brand-bg-color-3;

$brand-bg-color-4: #F5F5F5;

$default-text-dark: #0B1D26;
$default-text-lighter: #8A9499;

$dark-headers-color: $default-text-dark;