@import "bourbon";
@import "mixins";

.btn-theme-default {
	border-radius: 0;
	border-width: 0;
	color: $brand-color-1;
	font-family: 'open_sanssemibold';
	font-size: 12px;
	min-width: 262px;
	outline-width: 0;
	padding: 13px 20px;

	&:hover, &:focus, &:active {
		background-color: rgba($brand-bg-color-3, 0.2);
		border-width: 0;
		color: $brand-color-3;
		text-decoration: none;
	}
}