@import "mixins";

.portlet-users-admin {
	#header-bottom {
		background-color: #F6F8FB;
		height: 34px;
		margin: 0 0 10px;
	}

	#header-menu {
		background-color: #F3F5F5;
		font-size: 11px;
		line-height: 34px;
		margin: 0 0 10px;
		padding: 0 10px;
		text-align: right;
	}

	#header-title {
		background-color: #C1CABC;
		font-size: 20px;
		font-weight: 500;
		margin: 0 0 10px;
		padding: 7px 10px;
	}

	.company-logo {
		border-width: 0;
		width: 100px;
	}

	.email-user-add .password-changed-notification {
		display: none;
	}

	.label-holder {
		font-weight: 700;
		padding: 15px 0 5px;
	}

	.org-labor-entry {
		float: left;
		margin-right: 2%;
		width: 12%;

		@include respond-to(phone) {
			float: none;
			width: auto;
		}

		> .form-group {
			margin-bottom: 0;
		}
	}

	.organization-details {
		margin-left: 21px;
	}

	.organization-information {
		overflow: hidden;
	}

	.organization-search {
		float: right;
		margin: 0 0 0.5em 0.5em;
	}

	.section {
		float: left;
		margin-left: 10px;
		width: 47%;

		h3 {
			background: no-repeat scroll 2px 50%;
			border-bottom: 1px solid #CCC;
			line-height: 1.5;
			margin-bottom: 0.5em;
			padding-left: 25px;
		}

		li {
			list-style: none;
			margin: 0;
		}

		ul {
			margin: 0;
		}
	}

	.entity-details {
		clear: both;
	}

	.radio-holder {
		line-height: 12px;
	}

	.form-navigator {
		.user-info, .organization-info {
			.user-logo, .organization-logo {
				margin-right: 5px;
				width: 35px;
			}

			.user-name {
				word-wrap: break-word;
			}
		}
	}

	.membership-restriction-container {
		margin-top: 1em;
	}

	.instant-messenger, .social-network {
		clear: both;
		margin-bottom: 2em;
		overflow: hidden;

		img {
			margin-left: 1em;
		}

		.form-group {
			margin: 0;
		}
	}

	.permission-scopes {
		margin-right: 10px;

		&.empty {
			display: none;
		}
	}

	.permission-group {
		margin: 10px 0 0 10px;
	}

	.organization-icon, .plugin-thumbnail, .site-icon {
		float: left;
		margin-right: 5px;
	}

	.plugin-thumbnail {
		margin-right: 10px;
	}

	.lfr-permission-navigation-container {
		.search {
			margin: 20px 0;
		}

		.lfr-permission-navigation {
			overflow: auto;
			width: 100%;

			.permission-navigation-item-header {
				font-weight: bold;

				.permission-navigation-item-header-icon {
					display: inline-block;
					height: 10px;
					width: 9px;
				}
			}

			.selected {
				font-weight: bold;
			}

			.toggler-header-collapsed {
				.icon-caret-down {
					display: none;
				}
			}

			.toggler-header-expanded {
				.icon-caret-right {
					display: none;
				}
			}

			.permission-navigation-item-header {
				cursor: pointer;
				margin: 0.5em;
			}

			.permission-navigation-item-content .permission-navigation-item-container {
				cursor: pointer;
				line-height: 1.8em;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.permission-navigation-item-summary {
				margin: 0.5em 0 1.5em 0.5em;
			}

			.permission-navigation-section .permission-navigation-section {
				margin-left: 1em;
			}
		}
	}

	.user-status-selector {
		margin-top: 5px;

		@include respond-to(tablet, desktop) {
			float: right;
			margin-top: 0;
		}

		.form-group {
			margin-bottom: 0;
		}

		.input-select-wrapper {
			width: 100%;

			@include respond-to(tablet, desktop) {
				width: auto;
			}
		}
	}

	@include respond-to(tablet, desktop) {
		.user-table button {
			float: left;
		}
	}

	.view-all-link {
		color: #666;
		font-weight: normal;
		margin-bottom: 15px;
	}

	.lfr-asset-column-details {
		margin-top: 1em;
	}

	.lfr-asset-summary img.avatar {
		max-width: 210px;
	}
}

.lfr-floating-container {
	.field {
		input, img {
			vertical-align: top;
		}
	}
}

// Users Admin Search Container

.lfr-search-container-organizations {
	.lfr-roles-column, .lfr-type-column {
		width: 26%;
	}
}

.lfr-inherited-site-roles {
	.lfr-site-column, .lfr-user-group-column {
		width: 27%;
	}
}

.portlet-users-admin {
	.lfr-job-title-column, .lfr-name-column, .lfr-organization-column, .lfr-organizations-column, .lfr-roles-column, .lfr-screen-name-column, .lfr-site-column, .lfr-user-group-column, .lfr-user-groups-column {
		max-width: 150px;
		min-width: 150px;
	}
}

.portlet-users-admin-edit-user {
	.lfr-name-column, .lfr-title-column {
		width: 45%;
	}
}